.title,
%title,
label,
%label {
	font-weight: 600;
	display: block;
}
select { outline: none; }

label,
%label {
	span {
		display: inline-block;
		vertical-align: middle;
	}
	@include bp('lg+') {
		text-align: right;
		line-height: em(46px, $font-size-default);
	}
}

%border-base {
	border: solid 1px cl('grey-light');
	border-radius: $radius;
	height: em(46px, $font-size-default);
	line-height: em(46px, $font-size-default);
	margin: 0;
	box-sizing: border-box;
}

%focusing {
	outline: none;
	border-color: cl('blue');
}

@mixin focusing($type:'input') {
	transition: border 0.2s;
	@if ($type != 'input') {
		&.focusing { @extend %focusing; }
	} @else {
		&:focus {
			@extend %focusing;
		}
	}
}

input[type='text'],
input[type='email'],
input[type='password'] {
	@extend %border-base;
	width: 100%;
	padding: {
		left: $gutter;
		right: $gutter;
	}
	background: transparent;
	transition: border 0.2s;
	@include focusing;
}

@mixin inputWithSelect($reservedSpace, $amountInputs:1) {
	padding-right: $reservedSpace;
	overflow: hidden;
	> input {
		width: 100%/$amountInputs;
		box-sizing: border-box;
		float: left;

		&:not(:first-child) {
			border-left: solid 1px cl('grey-light');
		}
	}
	.custom-select {
		width: $reservedSpace;
	}
}

.multiple-inputs {
	@extend %border-base;
	position: relative;
	input { border: none; }
	@include focusing('element');
}

@each $version in 20, 30, 40, 50 {
	.multiple-inputs--select-#{$version} {
		@include inputWithSelect(calc(#{$version}*1%));
	}
}

.multiple-inputs--3inputs {
	@include inputWithSelect(20%, 3);
}

.custom-select {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border-left: solid 1px cl('grey-light');
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid cl('grey');
		position: absolute;
		top: 50%;
		right: em(10px);
		margin-top: em(-3px);
	}

	select {
		width: 100%;
		height: 100%;
		padding: 0 em(10px);
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
	}
}

////////
// Custom form shipment
.shipment-steps {
	overflow: hidden;
	border-top: solid 1px cl('grey-light');
	border-bottom: solid 1px cl('grey-light');

	li {
		float: left;
		margin: 0;
		&:not(:first-child) {
			padding-left: em(15px);
		}
	}

	a, span {
		display: block;
		color: cl('blue-light');
		padding: em(10px) 0;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background: cl('blue');
			position: absolute;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&.passed,
		&:hover,
		&.active {
			cursor: pointer;
			color: cl('blue-darkest');
		}

		&:hover,
		&.active {
			&:after {
				opacity: 1;
			}
		}
	}

	@include bp('md+') {
		text-align: center;
		li {
			float: none;
			display: inline-block;
			padding: 0 em(25px);
		}
	}
}

.total,
.add-item {
	display: block;
	border-radius: $radius;
	background: cl('blue-lightest');
	color: cl('blue-light');
	line-height: em(46px, $font-size-default);
	padding: {
		left: $gutter;
		right: $gutter;
	}
}

.add-item {
	&:hover {
		background-color: cl('blue-light');
		color: cl('white');
	}

	i {
		font-weight: 600;
		font-size: em(20px);
		margin-right: em(10px, 20px);
	}
}

.item-has-rows {
	> .row:not(:first-child) {
		padding-top: em(10px);
	}
	@include bp('lg-') {
		.has-subs > .md-6 {
			padding-top: em(10px);
		}
	}
}

.form-shipment {
	> .row > .md-6 { padding-top: em(10px); }
}
////////