.title,
%title,
label,
%label {
	font-weight: 600;
	display: block;
}

label,
%label {
	span {
		display: inline-block;
		vertical-align: middle;
	}
	@include bp("lg+") {
		text-align: right;
		line-height: em(46px, $font-size-default);
	}
}

%border-base {
	border: solid 1px cl("grey-light");
	border-radius: $radius;
	height: em(46px, $font-size-default);
	line-height: em(46px, $font-size-default);
	margin: 0;
	box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	@extend %border-base;
	width: 100%;
	padding: {
		left: $gutter;
		right: $gutter;
	}
	background: transparent;
}

@mixin inputWithSelect($reservedSpace, $amountInputs:1) {
	padding-right: $reservedSpace;
	overflow: hidden;
	> input {
		width: 100%/$amountInputs;
		box-sizing: border-box;
		float: left;

		&:not(:first-child) {
			border-left: solid 1px cl("grey-light");
		}
	}
	.custom-select {
		width: $reservedSpace;
	}
}

.multiple-inputs {
	@extend %border-base;
	position: relative;
	input { border: none; }
}

@each $version in 20, 30, 40, 50 {
	.multiple-inputs--select-#{$version} {
		@include inputWithSelect(calc(#{$version}*1%));
	}
}

.multiple-inputs--3inputs {
	@include inputWithSelect(20%, 3);
}

.custom-select {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border-left: solid 1px cl("grey-light");

	select {
		border: 0;
		background-color: #fff;
		height: em(46px, $font-size-default);
		line-height: em(46px, $font-size-default);
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

////////
// Custom form shipment
.total,
.add-item {
	display: block;
	border-radius: $radius;
	background: rgba(0,0,0,0.15);
	line-height: em(46px, $font-size-default);
	padding: {
		left: $gutter;
		right: $gutter;
	}
}

.item-has-rows {
	> .row:not(:first-child) {
		padding-top: em(10px);
	}
	@include bp("lg-") {
		.has-subs > .md-6 {
			padding-top: em(10px);
		}
	}
}

.form-shipment {
	> .row > .md-6 { padding-top: em(10px); }
}
////////