.mainheader {
	background: cl('blue');
	padding: em(10px) 0;

	a { color: cl('white'); }

	&__logo {
		width: em(30px);
		height: 0;
		display: block;
		overflow: hidden;
		padding-top: em(33px);
		background: image-url("images/logo.png") center no-repeat;
		float: left;
	}

	&__hamburger {
		float: right;
		line-height: em(32px);
		@include bp('md+') {
			display: none;
		}
	}

	&__menu {
		display: none;
		li { margin-bottom: 0; }
		a { display: block; }
		@include bp('md+') {
			display: block;
			overflow: hidden;
			a {
				opacity: 0.4;
				text-transform: uppercase;
				font-weight: 700;
				line-height: em(33px);
				transition: opacity 0.2s;
				&:hover,
				&.active {
					opacity: 1;
				}
			}
			li {
				padding: 0 em(20px);
				float: left;
			}
		}
	}
}