<header class="mainheader">
	<div class="container">
		<nav role="navigation">
			<a href="" class="mainheader__logo">Cargobase</a>
			<a href="" data-hamburger class="mainheader__hamburger">Menu</a>
			<ul class="list-reset mainheader__menu" data-hamburger-target>
				<li><a href="">Dashboard</a></li>
				<li><a href="" class="active">Quote requests</a></li>
				<li><a href="">Shipments</a></li>
				<li><a href="">Payments</a></li>
			</ul>
		</nav>
	</div>
</header>