body:after {
	@if($debug-level > 0) {
		position: fixed;
		right: 0;
		bottom: 0;
		background: #fff;
		color: #000;
		z-index: 99999999;
	} @else {
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		display: block;
	}
	speak: none;
}

// *******************************************************************************
// * SHOW/HIDE
// *******************************************************************************
%hide {display: none;}
%show {display: block;}
// @each $bp, $width in $breakpoints {
// 	.#{$bp}-show {@extend %hide;}
// 	@include bp($width) {
// 		.#{$bp}-show { display: block;}
// 		.#{$bp}-hide { display: none;}
// 	}
// }