---
title: CargoKit
---
<main class="container sm-pt-2 sm-pb-2">
	<h1 class="h3">Create quote request</h1>
	<ul class="list-reset sm-mt-2 sm-mb-2 lg-mt-3 lg-mb-3 shipment-steps">
		<li><span class="active">Shipment details</span></li>
		<li><a href="pickup-delivery.html">Pickup and Delivery</a></li>
		<li><span>Invite providers</span></li>
	</ul>
	<form class="form-shipment">
		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-hide lg-show lg-2">
				&nbsp;
			</label>
			<div class="sm-12 md-6 lg-3">
				<span class='title'>Shipment title</span>
				<input type="text" placeholder="e.g. 'invoice number'"></input>
			</div>
			<div class="sm-12 md-6 lg-3">
				<span class='title'>Cost center</span>
				<input type="text" placeholder="Search..."></input>
			</div>
			<div class="sm-12 md-6 lg-3">
				<span class='title'>Location</span>
				<input type="text" placeholder="Shanghai"></input>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-2">
				<span>Goods value</span>
			</label>
			<div class="sm-12 md-6 lg-4">
				<div class="multiple-inputs multiple-inputs--select-30" data-get-focus-parent>
					<input type="text" placeholder="Amount" data-get-focus></input>
					<div class="custom-select">
					 	<select data-get-focus>
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="SGD">SGD</option>
							<option value="AUD">AUD</option>
					 	</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-2">
				<span>Goods description</span>
			</label>
			<div class="sm-12 md-6 lg-4">
				<input type="text" placeholder="e.g. 'Machine parts'"></input>
			</div>
		</div>

		<div class="item-has-rows sm-pt-1 sm-pb-1">
			<div class="row">
				<label class="sm-12 lg-2">
					<span>Item 1</span>
				</label>
				<div class="sm-12 lg-9">
					<div class="multiple-inputs multiple-inputs--select-40" data-get-focus-parent>
						<input type="text" placeholder="Units" data-get-focus></input>
						<div class="custom-select">
						 	<select data-get-focus>
								<option value="container">Container</option>
								<option value="package">Package</option>
						 	</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row has-subs">
				<label class="sm-hide lg-show lg-2">
					<span></span>
				</label>
				<div class="sm-12 lg-4">
					<div class="multiple-inputs multiple-inputs--3inputs" data-get-focus-parent>
						<input type="text" placeholder="Length" data-get-focus></input>
						<input type="text" placeholder="Height" data-get-focus></input>
						<input type="text" placeholder="Height" data-get-focus></input>
						<div class="custom-select">
						 	<select data-get-focus>
								<option value="cm">cm</option>
								<option value="mm">mm</option>
						 	</select>
						</div>
					</div>
				</div>
				<div class="sm-12 md-6 lg-3">
					<div class="multiple-inputs multiple-inputs--select-40" data-get-focus-parent>
						<input type="text" placeholder="Weight" data-get-focus></input>
						<div class="custom-select">
						 	<select data-get-focus>
								<option value="Lbs">Lbs</option>
								<option value="kg">kg</option>
						 	</select>
						</div>
					</div>
				</div>

				<div class="sm-12 md-6 lg-2">
					<div class="total">
						Total: <em>240 Lbs</em>
					</div>
				</div>
			</div>

			<div class="row">
				<label class="sm-hide lg-show lg-2">
					<span></span>
				</label>
				<div class="sm-12 lg-9">
					<ul class="list-reset form__options">
						<li><a href="" class="">Stackable</a></li>
						<li><a href="">Hazardous</a></li>
						<li><a href="">Pallet removable</a></li>
						<li><a href="" class="link--hint"><i class="fa fa-info" aria-hidden="true"></i>Additional information</a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<label class="sm-hide lg-show lg-2">
					<span></span>
				</label>
				<div class="sm-12 lg-9">
					<a href="" class="add-item" data-add-item><i class="fa fa-plus" aria-hidden="true"></i> Add item</a>
				</div>
			</div>

		</div>

		<footer class="form__footer">
			<hr class="sm-mt-1 md-mt-2 md-mb-2 lg-mt-3 lg-mb-3">
			<a class="button right" href="invite-providers.html">
				Next:
				<em>Pickup and Delivery</em>
			</a>
			<!-- Ideally button, currently link for styling purpose
				<button type="submit" class="button right">
				Next:
				<em>Pickup and Delivery</em>
			</button> -->
		</footer>
	</form>
</main>