---
title: CargoKit
---
<main class="container sm-pt-2 sm-pb-2">
	<h1 class="h3">Create quote request</h1>
	<ul class="list-reset sm-mt-2 sm-mb-2 lg-mt-3 lg-mb-3 shipment-steps">
		<li><a href="index.html">Shipment details</a></li>
		<li><a href="pickup-delivery.html">Pickup and Delivery</a></li>
		<li><span class="active">Invite providers</span></li>
	</ul>
	<form class="form-shipment">
		<div class="row sm-pb-1">
			<label class="sm-12 lg-2">
				<span>Set your timers</span>
			</label>
			<div class="sm-12 md-6 lg-4">
				<input type="text" placeholder="Ask for more info regarding this"></input>
			</div>
		</div>

		<div class="row sm-pb-1">
			<label class="sm-12 lg-2">
				<span>Additional comments</span>
			</label>
			<div class="sm-12 lg-10">
				<textarea placeholder="e.g 'extra informations'"></textarea>
			</div>
		</div>

		<footer class="form__footer">
			<hr class="sm-mt-1 sm-mb-2 md-mt-2 md-mb-3">
			<div class="right">
				<a href="pickup-delivery.html" class="prev-step">Back</a>
				<a class="button" href="#">
					Next:
					<em>Summary</em>
				</a>
			</div>

			<!-- Ideally button, currently link for styling purpose
				<button type="submit" class="button right">
				Next:
				<em>Pickup and Delivery</em>
			</button> -->
		</footer>
	</form>
</main>