---
title: CargoKit
---
<main class="container sm-pt-2 sm-pb-2">
	<h1 class="h3">Create quote request</h1>
	<ul class="list-reset sm-mt-2 sm-mb-2 lg-mt-3 lg-mb-3 shipment-steps">
		<li><a href="/" class="passed">Shipment details</a></li>
		<li><span class="active">Pickup and Delivery</span></li>
		<li><span>Invite providers</span></li>
	</ul>
	<form class="form-shipment">
		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Pickup location</span>
			</label>
			<div class="sm-12 md-6">
				<div class="custom-select custom-select--independent">
					<select data-custom-select>
						<option>IST (GMT +05:30)</option>
						<option>IST (GMT +05:30)</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Pickup time</span>
			</label>
			<div class="sm-12 md-6 lg-6">
				<div class="multiple-inputs">
					<div class="custom-select md-6 has-border-right">
						<select data-custom-select>
							<option>Select date and time</option>
							<option>Select date and time</option>
						</select>
					</div>
					<div class="custom-select md-6">
						<select data-custom-select>
							<option>IST (GMT +05:30)</option>
							<option>IST (GMT +05:30)</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Delivery location</span>
			</label>
			<div class="sm-12 md-6">
				<div class="custom-select custom-select--independent">
					<select data-custom-select>
						<option>Search address or airport</option>
						<option>Amsterdam</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Delivery deadline</span>
			</label>
			<div class="sm-12 md-6 lg-6">
				<div class="multiple-inputs">
					<div class="custom-select md-6 has-border-right">
						<select data-custom-select>
							<option>Select date and time</option>
							<option>Select date and time</option>
						</select>
					</div>
					<div class="custom-select md-6">
						<select data-custom-select>
							<option>IST (GMT +05:30)</option>
							<option>IST (GMT +05:30)</option>
						</select>
					</div>
				</div>
				<ul class="list-reset form__options">
					<li><a href="">Fixed date and time</a></li>
					<li><a href="">Flexible</a></li>
					<li><a href="">ASAP</a></li>
				</ul>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Custom clearance</span>
			</label>
			<div class="sm-12 md-6 lg-3">
				<a href="">Export clearance</a>
			</div>
			<div class="sm-12 md-6 lg-3">
				<a href="">Transit clearance</a>
			</div>
			<div class="sm-12 md-6 lg-3">
				<a href="">Import clearance</a>
			</div>
		</div>

		<div class="row sm-pt-1 sm-pb-1">
			<label class="sm-12 lg-3">
				<span>Attachments</span>
			</label>
			<div class="sm-12 md-6">
				<div class="custom-select custom-select--independent">
					<select data-custom-select>
						<option>IST (GMT +05:30)</option>
						<option>IST (GMT +05:30)</option>
					</select>
				</div>
			</div>
		</div>

		<footer class="form__footer">
			<hr class="sm-mt-1 md-mt-2 md-mb-2 lg-mt-3 lg-mb-3">
			<button type="submit" class="button right">
				Next:
				<em>Invite providers</em>
			</button>
		</footer>
	</form>
</main>